.review-form-container {
  padding: 20px 10px;
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
}

.review-form-container input {
  margin-bottom: 17px;
  width: 100%;
  height: 50px;
  padding: 13px 10px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.015em;
}

.review-form-container input:focus {
  accent-color: #ffc700;
  border: none;
}

.review-form-container::placeholder {
  color: #9e9e9e;
}

.review-button-container{
  display: flex;
  justify-content: center;
}

.review-button {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  max-width: 334px;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}

.username-error{
  margin-bottom: 5px;
  color: #ff0000;
  font-size: 12px;
}

input[name="review"].error-active{
  border: 1px solid #e10e0e;
  accent-color: hsla(0, 100%, 50%, 0.65);
}

.review-button:hover {
  opacity: 0.6;
}

@media screen and (min-width: 576px) {
  .review-form-container {
    padding: 20px 15px;
    margin-bottom: 18px;
  }

  .username-error{
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  .review-form-container {
    padding: 22px 20px;
    margin-bottom: 18px;
  }
  .review-button {
    font-size: 16px;
  }
}

@media screen and (min-width: 992px) {
  .review-form-container {
    padding: 24px 25px;
    margin-bottom: 29px;
  }
}