.movie-catalog-container {
  height: calc(100vh - 68px);
  background: #525252;
  padding: 15px 17px 30px 17px;
  overflow: auto;
}

.catalog-movie-container {
  flex: 1 1 100%;
  max-width: 300px;
  align-self: center;
}

.catalog-title-container {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: -0.015em;
  color: #ffffff;
  margin-bottom: 49px;
}

.catalog-container {
  font-size: 18px;
  letter-spacing: -0.015em;
  gap: 20px 19px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.catalog-container a {
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.015em;
  color: #ffffff;
  text-decoration: none;
}

.catalog-container a:hover {
  opacity: 0.8;
}

@media screen and (min-width: 576px) {
  .movie-catalog-container {
    padding: 20px 20px 35px 20px;
  }

  .catalog-title-container {
    font-size: 24px;
  }
  .catalog-movie-container {
    flex: 1 1 40%;
    max-width: 436px;
  }
}

@media screen and (min-width: 768px) {
  .movie-catalog-container {
    padding: 26px 19px 35px 19px;
  }
  .catalog-title-container {
    font-size: 28px;
  }
  .catalog-container {
    font-size: 24px;
  }

  .catalog-container a {
    margin-bottom: 20px;
  }

  .catalog-title-container {
    margin-bottom: 39px;
  }

  .catalog-container a {
    font-size: 20px;
  }
}

@media screen and (min-width: 992px) {
  .movie-catalog-container {
    padding: 40px;
  }

  .catalog-title-container {
    font-size: 38px;
  }

  .catalog-container a {
    margin-bottom: 27px;
  }
  .catalog-container a {
    font-size: 24px;
  }
  .catalog-movie-container {
    flex: 1 1 30%;
    max-width: 258px;
  }
}

@media screen and (min-width: 1200px) {
  .catalog-movie-container {
    flex: 1 1 20%;
    
  }
}
