.login-card {
  width: 100%;
  height: 100%;
  max-width: 479px;
  max-height: 573px;
  padding: 59px 17px 100px 17px;
}


.login-title-container h2 {
  text-transform: uppercase;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.015em;
  height: 67px;
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}

.login-info {
  border: none;
  text-align: center;
}

.login-info input {
  height: 47px;
  width: 100%;
  max-width: 384px;
  padding: 14px;
  letter-spacing: -0.015em;
  background: #fefefe;
  border: 1px solid #fefefe;
  border-radius: 4px;
}

.login-info input:focus {
  accent-color: #ffc700;
}

.login-info input::placeholder {
  color: #9e9e9e;
}

input[name="username"] {
  margin-bottom: 20px;
}

input[name="password"] {
  margin-bottom: 54px;
}

.login-button {
  color: #000;
  text-transform: uppercase;
  max-width: 384px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: -0.015em;
  transition: all 0.3s ease;
  cursor: pointer;
}

.login-button:hover{
  opacity: 0.6;
}

@media screen and (min-width: 576px) {
  .login-card {
    padding: 74px 81px 133px 81px;
  }

  
.login-title-container h2 {
  font-size: 48px;
  margin-bottom: 35px;
}

.login-button {
  font-size: 20px;
}

  .login-info:first-of-type {
    margin-bottom: 30px;
  }

  .login-info:last-of-type {
    margin-bottom: 74px;
  }
}


.login-info input.error-active {
  accent-color: none;
  border: 2px solid #ff0000;
  margin-bottom: 5px;
}

.username-error{
  margin-bottom: 5px;
  color: #ff0000;
}

.password-error{
  margin-bottom: 34px;
  color: #ff0000;
}